:root {
    --accent-color: #2196f3;
    --accent-color2: #fff;
    --color-p: #757575;
    --background-1: #2f303a;
    --background-2-w: #f5f4fa;
}

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;
